<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Razonamiento Matemático</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/19FGp3lq9w4GM0bTdlux9Bn3a4Nsnjy0w/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Geometría</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/15AYJu3lACMQrjRxFN3v69oUYg6zCuvK5/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Física</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/15DZPn5-sLM3RenehRSugeZvSsHUDi9Yl/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Economía</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1alHTvWh4wd6dUhZCGjHRZ4sCeM6PJf-B/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Psicología</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1-qydhUXeUvi7_HShy4k7Ubl7J9CKgKTQ/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Química</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/147mGh7FKlmtVhW0lFQpoFy0vE48rJRxa/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>
