<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Razonamiento Verbal</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/11hFnHuhIN0YNFJfhpkHvpOVOINEpU-Jr/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Razonamiento Verbal</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/16LqaGWQxIKWdKE_ARRueN8j_s1F_8q_t/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Razonamiento Matemático</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1M0d00vv06JadbMsAinIYL3CY0T00nA8m/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Razonamiento Matemático</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1KAJq-JuZBddto_uUlJ2qjOEvs8VRGZHX/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Literatura</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/16RZkqxRDQujA5iz9yDgOUjkqlf_-emlJ/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Geometría</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1XxbwTBX7rdJyYt7UUSQxGiXDsWgv5ZdP/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Física</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/15cMMd5klssxQoVVpEuS6YVmI2rfj25FO/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Economía</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/187dARKDrAIBrHiIIUnFOPyCAsog7vXzw/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Psicología</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1MRjHgLhYYNze3z-VbfxduJZgX7kng87v/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Química</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1XtX2hlB5GeRD3BIbECE2eDe3Eo0XRqtH/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Aritmética</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1wtt-wN4fVJfmRnI3Sa6X6Q5AB-f5ns8O/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Trigonometría</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1PQ0kGF5Jgij0cO05Mz2RNTf1fo_pSIbQ/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Álgebra</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/13HiC4LtGBklIo2j5on7y4B9MFrtdIM_D/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Lenguaje</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1FeEnn5-NffWLCf82HajDIqlZ85NRC54q/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>
