<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Razonamiento Matemático</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1UInCDQirG4NFXg392OJscz8Ymmv4Fj1T/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Física</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1tyVYArD6vbgSaCFsmz8didreFdIgsFZ5/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Economía</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1ECoJvE0Q46Rt1izG9W4x-pmwBihLcF1s/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

<mat-card class="conf-card">
  <mat-card-header>
    <mat-card-title>Psicología</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <iframe src="https://drive.google.com/file/d/1LBSjfs1QKcXmTuJ4TlPtE8Kmv-FSZVRU/preview" width="288" height="162"
      frameborder=”0″ allowfullscreen></iframe>
  </mat-card-content>
</mat-card>

